<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chat Server </title>
</head>

<body>
	<h1>Chat Window </h1>
	<div id="client">
	</div>
	<div id="server"></div>
	<div id="dateTimeDisplay"></div>
	<br><br>

	<input type="text" id="messageInput" placeholder="Enter message">
	<button id="submitButton" onclick="sendMessage()">Send</button>
	<div id="messageContainer"></div>
	<br><br>
	<button id="finishButton" onclick="getRating()">Finish</button>
	<div id="ratingForm"></div>


	<script>
		updateDateTime();
		let randomFloat = Math.random();
        console.log('Random Float:', randomFloat);

		// Generate a random integer between min (inclusive) and max (inclusive)
		function getRandomInt(min, max) {
			min = Math.ceil(min);
			max = Math.floor(max);
			return Math.floor(Math.random() * (max - min + 1)) + min;
		}
		var hostname = window.location.hostname;
		console.log(hostname)

		let minNumber = 1;
		let maxNumber = 100;
		let client_id = getRandomInt(minNumber, maxNumber);
		console.log('Random Integer:', client_id);
		document.getElementById('client').innerText = `CLIENT # ${client_id}`;
		
		port="{{port}}"
		console.log(typeof(port))
		console.log(port)
		document.getElementById('server').innerText = `Connected to server running at port : ${port}`;
		

		const websocket=new WebSocket("ws://localhost:"+port+`/ws/${client_id}/0`);

		websocket.onopen = function(event) {

			console.log(`WebSocket connection established.ws://localhost:8001/ws/${client_id}`);
		};
		websocket.onmessage = function(event) {
		const messageContainer = document.getElementById("messageContainer");
		messageContainer.innerHTML += `<p>${event.data}</p>`;
			};
	   websocket.onerror = function(event) {
		console.error("WebSocket error", event);
	   };

		function sendMessage() {
        const messageInput = document.getElementById("messageInput");
        const message = messageInput.value;

		websocket.send(message);
		messageInput.value = "";
        }
		window.addEventListener('beforeunload', function (e) {
            fetch('/logout/'+port, { method: 'POST' });
        });
		function updateDateTime() {
		const currentDate = new Date();
		const formattedDateTime = currentDate.toLocaleString();
		document.getElementById('dateTimeDisplay').innerText = formattedDateTime;
		setInterval(updateDateTime, 1000);

		}

		function getRating(){
			var form = document.createElement("form");
			// form.setAttribute("method", "post");
			// form.setAttribute("method", "post");
			// var action = "/logout/"+port
			// form.setAttribute("action", "/");
			var FN = document.createElement("input");
			FN.setAttribute("type", "number");
			FN.setAttribute("name", "Rating");
			FN.setAttribute("placeholder", "Rate the communication (1 to 5)");
			var s = document.createElement("input");
			s.setAttribute("type", "submit");
			s.setAttribute("value", "Submit");
			form.appendChild(FN); 
			// form.appendChild(br.cloneNode()); 
			form.appendChild(s); 

			document.getElementById("ratingForm").appendChild(form) ;

		}



	</script>
</body>

</html>


