<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WebSocket </title>
</head>

<body>
	<h1>WebSocket </h1>

	<h3>Client 1 (Port 8000)</h3>
	<input type="text" id="messageInput1" placeholder="Enter message (client 1)">
	<button id="submitButton" onclick="sendMessage(1)">Send</button>
	<div id="messageContainer1"></div>

	<h3>Client 2 (Port 8000)</h3>
	<input type="text" id="messageInput2" placeholder="Enter message (client 2)">
	<button id="submitButton" onclick="sendMessage(2)">Send</button>
	<div id="messageContainer2"></div>

	<h3>Client 3 (Port 8001)</h3>
	<input type="text" id="messageInput3" placeholder="Enter message (client 3)">
	<button id="submitButton" onclick="sendMessage(3)">Send</button>
	<div id="messageContainer3"></div>

	<h3>Client 4 (Port 8001)</h3>
	<input type="text" id="messageInput4" placeholder="Enter message (client 4)">
	<button id="submitButton" onclick="sendMessage(4)">Send</button>
	<div id="messageContainer4"></div>
	

	<script>

		function connectWebSocket(port, clientNumber){
			var s='s'+ (port%10);
			const websocket=new WebSocket(`ws://localhost:${port}/ws/${clientNumber}/${s}`);

			websocket.onopen = function(event) {
				console.log(`WebSocket connection ${clientNumber} established.ws://localhost:${port}/ws/${clientNumber}/${s}`);
			};
			websocket.onmessage = function(event) {
            const messageContainer = document.getElementById(`messageContainer${clientNumber}`);
            messageContainer.innerHTML += `<p>${event.data}</p>`;
              };
		websocket.onerror = function(event) {
            console.error(`WebSocket error ${clientNumber}:`, event);
        };
		return websocket;
		}
		const websocket1 = connectWebSocket(8000, 1); // Connect client 1 to server running on port 8000
		const websocket2 = connectWebSocket(8000, 2); // Connect client 2 to server running on port 8000
        const websocket3 = connectWebSocket(8001, 3); // Connect client 3 to server running on port 8001
		const websocket4 = connectWebSocket(8001, 4); // Connect client 4 to server running on port 8001
		


		let websocket_arr=[websocket1,websocket2,websocket3,websocket4];

		function sendMessage(clientNumber) {
        const messageInput = document.getElementById(`messageInput${clientNumber}`);
        const message = messageInput.value;
        if (message !== "") {
            const websocket = websocket_arr[clientNumber-1];
            websocket.send(message);
            messageInput.value = "";
        }
    }

	</script>
</body>

</html>




<!-- // function showMessage(message) {
	// 	const messageContainer = document.getElementById('container');
	// 	const messageElement = document.createElement('div');
	// 	messageElement.textContent = message;
	// 	messageContainer.appendChild(messageElement);
	// }

	// socket.addEventListener('open', (event) => {
	// 	showMessage('Connected to server.');
	// });

	// socket.onmessage = (event) => {
	// 	showMessage( event.data)  //"You sent : "+
	// }

	// socket.addEventListener('close', (event) => {
	// 	showMessage('Connection closed.');
	// });

	// const inputText = document.getElementById("inputText");
	// const submitButton = document.getElementById("submitButton");

	// submitButton.addEventListener("click", function () {
	// 	const inputValue = inputText.value;
	// 	socket.send(inputValue)
	// }); -->

	<!-- // function getRandomInt(min, max) {
		// 	return Math.floor(Math.random() * (max - min + 1)) + min;
		// }

		// const id = getRandomInt(1, 1000);
        // const ports = [8000, 8001, 8002];
        // const randomPort = ports[Math.floor(Math.random() * ports.length)];
        // const socket = new WebSocket(`ws://127.0.0.1:${randomPort}/ws/${id}`);
		// const socket = new WebSocket('ws://127.0.0.1:8001/ws/'+id);
		// console.log('ws://127.0.0.1:8001/ws/'+id);
		// const clientNumber = prompt("Enter your user ID (e.g., user1, user2):"); -->