<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WebSocket </title>
</head>

<body>
	<h1>WebSocket </h1>

	<h3>Client</h3>
	<input type="text" id="messageInput" placeholder="Enter message">
	<button id="submitButton" onclick="sendMessage()">Send</button>
	<div id="messageContainer"></div>


	<script>
		let randomFloat = Math.random();
        console.log('Random Float:', randomFloat);

		// Generate a random integer between min (inclusive) and max (inclusive)
		function getRandomInt(min, max) {
			min = Math.ceil(min);
			max = Math.floor(max);
			return Math.floor(Math.random() * (max - min + 1)) + min;
		}

		let minNumber = 1;
		let maxNumber = 100;
		let client_id = getRandomInt(minNumber, maxNumber);
		console.log('Random Integer:', client_id);
		port="{{port}}"
		console.log(typeof(port))


		const websocket=new WebSocket("ws://localhost:"+port+`/ws/${client_id}/0`);
		websocket.onopen = function(event) {
			console.log(`WebSocket connection established.ws://localhost:8001/ws/${client_id}`);
		};
		websocket.onmessage = function(event) {
		const messageContainer = document.getElementById("messageContainer");
		messageContainer.innerHTML += `<p>${event.data}</p>`;
			};
	   websocket.onerror = function(event) {
		console.error("WebSocket error", event);
	   };

		function sendMessage() {
        const messageInput = document.getElementById("messageInput");
        const message = messageInput.value;

		websocket.send(message);
		messageInput.value = "";
        }
		window.addEventListener('beforeunload', function (e) {
            // Make API request to logout endpoint
            fetch('/logout', { method: 'POST' });
        });


	</script>
</body>

</html>




<!-- // function showMessage(message) {
	// 	const messageContainer = document.getElementById('container');
	// 	const messageElement = document.createElement('div');
	// 	messageElement.textContent = message;
	// 	messageContainer.appendChild(messageElement);
	// }

	// socket.addEventListener('open', (event) => {
	// 	showMessage('Connected to server.');
	// });

	// socket.onmessage = (event) => {
	// 	showMessage( event.data)  //"You sent : "+
	// }

	// socket.addEventListener('close', (event) => {
	// 	showMessage('Connection closed.');
	// });

	// const inputText = document.getElementById("inputText");
	// const submitButton = document.getElementById("submitButton");

	// submitButton.addEventListener("click", function () {
	// 	const inputValue = inputText.value;
	// 	socket.send(inputValue)
	// }); -->

	<!-- // function getRandomInt(min, max) {
		// 	return Math.floor(Math.random() * (max - min + 1)) + min;
		// }

		// const id = getRandomInt(1, 1000);
        // const ports = [8000, 8001, 8002];
        // const randomPort = ports[Math.floor(Math.random() * ports.length)];
        // const socket = new WebSocket(`ws://127.0.0.1:${randomPort}/ws/${id}`);
		// const socket = new WebSocket('ws://127.0.0.1:8001/ws/'+id);
		// console.log('ws://127.0.0.1:8001/ws/'+id);
		// const clientNumber = prompt("Enter your user ID (e.g., user1, user2):"); -->